---
import Item from "./item.astro";
let {servers} = Astro.props;

export interface props {
  servers: String[]
}
---

<div data-tauri-drag-region class="lg:w-[75vh] xl:w-[100vh] p-5 rounded-lg mr-5 space-y-5 justify-start">
    {
        servers.map((server: string, index: number) => (
          <Item server={server} key={index} />
        ))
      }
</div>