---
import Topbar from "../components/topbar.astro";
import Sidebar from "../components/sidebar.astro";
import QuickPlayList from "../components/quickplay/list.astro";
import NewsItem from "../components/newsitem.astro";
import Launchbar from "../components/launchbar.astro";
import Layout from "../layouts/Layout.astro";


let minecrafts = [
  { version: "1.20.1", modLoaders: ["Quilt", "Fabric", "Forge"] },
  { version: "1.8.9", modLoaders: ["Forge"] },
  { version: "example", modLoaders: ["Quilt", "Fabric", "Forge"] }, // Example Of how to add an option
];

let servers = ["hypixel", "mineman", "creditNW"];
---



<Layout title="Home">
  <Topbar buttonsOff={false} />
  <main class="flex ml-5 w-full">
    <Sidebar />
    <!-- Main -->
    <div class="mt-2 w-[80%]">
      <!-- Welcome -->
      <div class="flex justify-between items-center w-[20rem] my-10">
        <div class="flex space-x-4">
          <div class="rounded-lg p-2">
            <img
              src="https://placehold.co/128x128"
              alt="Avatar"
              class="rounded-lg w-[128px] aspect-square"
            />
          </div>
          <div class="flex flex-col justify-center">
            <span class="text-lg font-semibold">Welcome back,</span>
            <span class="text-2xl font-bold">Username</span>
          </div>
        </div>
      </div>

      <!-- Server + News -->

      <div class="flex w-full flex-col md:flex-row justify-between">
        <!-- Server List -->
        <QuickPlayList servers={servers} />
       
        <!-- News -->
        <div data-tauri-drag-region class="flex relative flex-grow overflow-auto h-[71vh] bottom-48 flex-shrink justify-end">
        <div data-tauri-drag-region class="flex-col absolute flex-grow overflow-y-scroll h-screen space-y-5 justify-end">
           <NewsItem
             class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4"
             title="TeaClient Released"
             date="April 1st, 2024"
             desc="TeaClient has been officially released! ..."
             imgurl="/Tea_client_banner.png"
           />
           <NewsItem
           class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4"
           title="TeaClient Released"
           date="April 1st, 2024"
           desc="TeaClient has been officially released! ..."
           imgurl="/Tea_client_banner.png"
         />
         <NewsItem
         class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4"
         title="TeaClient Released"
         date="April 1st, 2024"
         desc="TeaClient has been officially released! ..."
         imgurl="/Tea_client_banner.png"
       />
       <NewsItem
       class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4"
       title="TeaClient Released"
       date="April 1st, 2024"
       desc="TeaClient has been officially released! ..."
       imgurl="/Tea_client_banner.png"
     />
        </div>
      </div>
       </div>

      <!-- Version + Play -->
      <div
        class="flex flex-grow w-5/6 h-16 items-center pr-3 bg-teaclient border border-teaclient p-2 rounded-lg absolute bottom-6 left-40"
      >
        <Launchbar minecrafts={minecrafts} />
      </div>
    </div>
  </main>
</Layout>


 
