---
import Topbar from "../components/topbar.astro";
import Sidebar from "../components/sidebar.astro";
import PlayItem from "../components/playitem.astro";
import Launchbar from "../components/launchbar.astro";
import Layout from "../layouts/Layout.astro";

const servers = ["hypixel", "hypixel"];

let minecrafts = [
  { version: "1.20.1", modLoaders: ["Quilt", "Fabric", "Forge"] },
  { version: "1.8.9", modLoaders: ["Forge"] },
  { version: "example", modLoaders: ["Quilt", "Fabric", "Forge"] }, // Example Of how to add an option
];

---

<Layout title="Home">
<Topbar />
<main class="flex flex-grow ml-5 h-auto w-auto">
  <Sidebar />
  <!-- Main -->
  <div class="mt-24 w-full">
    <!-- Welcome -->
    <div class="flex justify-between items-center mb-10">
        <div class="flex space-x-4">
            <div class="rounded-lg p-2">
                <img src="https://placehold.co/128x128" alt="Avatar" class="rounded-lg w-[128px] aspect-square">
            </div>
            <div class="flex flex-col justify-center">
                <span class="text-lg font-semibold">Welcome back,</span>
                <span class="text-2xl font-bold">Username</span>
            </div>
        </div>
        <div class="flex space-x-2">
            <button class="bg-gray-600 p-2 rounded-md">
                <i class="fas fa-cog"></i>
            </button>
            <button class="bg-gray-600 p-2 rounded-md">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>

    <!-- Server + News -->
    <div class="flex">
        <!-- Server List -->
        <div class="bg2 w-1/3 p-5 rounded-lg mr-5 space-y-5">
            <div class="flex items-center space-x-3 mb-5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-6 text-white"><path d="M64 32C28.7 32 0 60.7 0 96v64c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm48 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zM64 288c-35.3 0-64 28.7-64 64v64c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V352c0-35.3-28.7-64-64-64H64zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm56 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/></svg>
                <span class="text-lg font-semibold">Servers</span>
            </div>
            <div class="space-y-4">
                {servers.map((server, index) => (
                    <PlayItem server={server} key={index}/>
                   ))}
            </div>
        </div>

        <!-- News -->
        <div class="w-2/3 space-y-5">
        <div class="h-auth overflow-y-visible">
            <div class="bg2 p-5 rounded-lg">
                <div class="flex items-center justify-between mb-5">
                    <span class="text-lg font-semibold">TeaClient Released</span>
                    <span class="text-xs text-gray-400">December 1st, 2024</span>
                </div>
                <div class="flex items-center space-x-3">
                    <img src="https://placehold.co/128x128" alt="TeaClient logo placeholder image" class="rounded-lg">
                    <span class="text-sm">TeaClient has been officially released</span>
                </div>
            </div> 
            <div class="bg2 p-5 rounded-lg">
                <div class="flex items-center justify-between mb-5">
                    <span class="text-lg font-semibold">TeaClient Released</span>
                    <span class="text-xs text-gray-400">December 1st, 2024</span>
                </div>
                <div class="flex items-center space-x-3">
                    <img src="https://placehold.co/128x128" alt="TeaClient logo placeholder image" class="rounded-lg">
                    <span class="text-sm">TeaClient has been officially released</span>
                </div>
            </div> 
        </div>
    </div>
</div>
    
    <!-- Version + Play -->
    <div class="flex w-5/6 pr-3 bg2 p-2 rounded-lg absolute bottom-6">
        <Launchbar minecrafts={minecrafts}/>
    </div>

  </div>
</main>
</Layout>

<style>
  html {
    @apply rounded-2xl border-none bg-[#352244];
    background: linear-gradient(
      171deg,
      rgba(53, 34, 68, 1) 0%,
      rgba(17, 0, 30, 1) 100%
    );
    @apply bg-center bg-cover bg-no-repeat bg-fixed;
    overflow-y: visible;
  }

  body {
    @apply rounded-2xl border-none;
    height: 100vh;
    width: 100vh;
  }

  :root {
        --bg: #321b3e;
        --bg2: #220f2c;
    }
    .bg {
        background-color: var(--bg);
    }
    .bg2 {
        background-color: var(--bg2);
    }
</style>
