---
import Titlebar from "../components/titlebar.astro";
import Topbar from "../components/topbar.astro";
import Sidebar from "../components/sidebar.astro";
import Hero from "../components/hero.astro";
---

<Titlebar />
<Topbar />
<Sidebar />
<main class="m-auto flex flex-col justify-center text-center">
  <Hero/>
 <!-- Todo:Page -->
</main>

<style>
  html {
    @apply rounded-2xl bg-[#352244];
    background: linear-gradient(
      171deg,
      rgba(53, 34, 68, 1) 0%,
      rgba(17, 0, 30, 1) 100%
    );
    @apply bg-center bg-cover bg-no-repeat bg-fixed;
    overflow-y: visible;
  }

  body {
    height: 100%;
  }
</style>
