---
import Layout from "../layouts/layout.astro";
import { Image } from "astro:assets";

let servers = ["droops", "hypixel", "mineman"];
let serverImg = [""];
---

<Layout
  title="Home | TeaClient"
  buttons={false}
  titlebar={false}
  mainclass="flex ml-5 w-full"
>
  <div class="mt-2 w-[80%]">
    <!-- Welcome -->
    <div
      class="flex justify-between items-center w-[48%] my-10 bg-gradient-to-r rounded-xl from-violet-800 to-violet-600"
    >
      <div class="flex space-x-4">
        <div class="rounded-lg p-2">
          <img
            id="userimage"
            src="https://placehold.co/128x128"
            alt="Avatar"
            class="rounded-lg w-[128px] aspect-square"
          />
        </div>
        <div class="flex flex-col justify-center">
          <span class="text-lg font-semibold font-jbm">Welcome back,</span>
          <span id="username" class="text-2xl font-bold font-jbm"
            >Get started by Logging into TeaClient</span
          >
        </div>
      </div>
    </div>

    <!-- Card End -->

    <!-- servers  -->
    <div
      class="bg-servers border border-servers-border p-2 transition-all mb-2 w-[48%] rounded-md flex justify-between hover:border-[#513d5e] hover:bg-[#32233d] hover:scale-[105%]"
    >
      <div class="flex items-center">
        <Image
          src="https://s.namemc.com/i/c056a3f5d1217a32.png"
          width="45"
          height="45"
          alt="Sharpie"
          loading="lazy"
          id="logo"
          class="rounded-md"
        />
        <h1 class="font-semibold text-sm ml-2">Sharpness</h1>
      </div>
      <div class="flex items-center justify-center">
        <button class="p-2 bg-[#2C1E36] rounded-md">
          <!-- Play Button  -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.5em"
            height="1.5em"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M21.409 9.353a2.998 2.998 0 0 1 0 5.294L8.597 21.614C6.534 22.737 4 21.277 4 18.968V5.033c0-2.31 2.534-3.769 4.597-2.648z"
            ></path></svg
          >
        </button>
      </div>
    </div>
    <div
      class="bg-servers border border-servers-border p-2 transition-all mb-2 w-[48%] rounded-md flex justify-between hover:border-[#513d5e] hover:bg-[#32233d] hover:scale-[105%]"
    >
      <div class="flex items-center">
        <Image
          src="https://s.namemc.com/i/c056a3f5d1217a32.png"
          width="45"
          height="45"
          alt="Sharpie"
          loading="lazy"
          id="logo"
          class="rounded-md"
        />
        <h1 class="font-semibold text-sm ml-2">Sharpness</h1>
      </div>
      <div class="flex items-center justify-center">
        <button class="p-2 bg-[#2C1E36] rounded-md">
          <!-- Play Button  -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.5em"
            height="1.5em"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M21.409 9.353a2.998 2.998 0 0 1 0 5.294L8.597 21.614C6.534 22.737 4 21.277 4 18.968V5.033c0-2.31 2.534-3.769 4.597-2.648z"
            ></path></svg
          >
        </button>
      </div>
    </div>

    <div
      class="bg-servers border border-servers-border p-2 transition-all w-[48%] rounded-md flex justify-between hover:border-[#513d5e] hover:bg-[#32233d] hover:scale-[105%]"
    >
      <div class="flex items-center">
        <Image
          src="https://s.namemc.com/i/c056a3f5d1217a32.png"
          width="45"
          height="45"
          alt="Sharpie"
          loading="lazy"
          id="logo"
          class="rounded-md"
        />
        <h1 class="font-semibold text-sm ml-2">Sharpness</h1>
      </div>
      <div class="flex items-center justify-center">
        <button class="p-2 bg-[#2C1E36] rounded-md">
          <!-- Play Button  -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.5em"
            height="1.5em"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M21.409 9.353a2.998 2.998 0 0 1 0 5.294L8.597 21.614C6.534 22.737 4 21.277 4 18.968V5.033c0-2.31 2.534-3.769 4.597-2.648z"
            ></path></svg
          >
        </button>
      </div>
    </div>
  </div>
</Layout>

<style>
  html {
    @apply rounded-2xl bg-[#352244];
    background: linear-gradient(
      171deg,
      rgba(53, 34, 68, 1) 0%,
      rgba(17, 0, 30, 1) 100%
    );
    @apply bg-center bg-cover bg-no-repeat bg-fixed;
    overflow-y: visible;
  }
</style>

<script>
  window.onload = function () {
    const usernameElement = document.getElementById(
      "username"
    ) as HTMLSpanElement;
    const userimageElement = document.getElementById(
      "userimage"
    ) as HTMLImageElement;
    const usernameText =
      localStorage.getItem("username") ||
      "Get started by Logging into TeaClient";
    const username = localStorage.getItem("username") || "";
    if (usernameElement) {
      usernameElement.textContent = usernameText;
    }

    if (username !== "" && userimageElement) {
      const proxyUrl = "https://api.teaclient.net/cors";
      const targetUrl = `https://visage.surgeplay.com/face/256/${username}`;
      fetch(proxyUrl + targetUrl)
        .then((response) => response.blob())
        .then((blob) => {
          const url = URL.createObjectURL(blob);
          userimageElement.src = url;
        })
        .catch((error) => console.error("Error fetching user image:", error));
    }

    localStorage.setItem("username", "eveeify");
  };
</script>
