---
import { Image } from "astro:assets";
import Layout from "../layouts/layout.astro";

interfax
ce Server {
 name: string;
 ip: string;
 description: string;
 image: string;
}

interface ServerInfo {
 dropps: Server;
 hypixel: Server;
}



export function getServerInfo(serverName: string): Server | undefined {
 const serverInfo: ServerInfo = {
    dropps: {
      name: "Dropps",
      ip: "dropps.minehut.gg",
      description: "A Minecraft Server for the Drops community.",
      image: "/images/drops.png",
    },
    hypixel: {
      name: "Hypixel",
      ip: "mc.hypixel.net",
      description: "The largest Minecraft server in the world, with a huge variety of games and minigames to play!",
      image: "/images/hypixel.png"
    }
 };

 // Check if the server name exists in the serverInfo object
 if (serverName in serverInfo) {
    return serverInfo[serverName as keyof ServerInfo];
 }

 // If the server name does not exist, return undefined
 return undefined;
}


---

<Layout
  title="Home | TeaClient"
  buttons={false}
  titlebar={false}
  mainclass="flex ml-5 w-full"
>
<div class="flex h-screen justify-center items-center align-middle m-auto">
 <h1 class="text-4xl font-jbm font-bold">Servers Page is coming soon</h1>
</div>
</Layout>

<style>
  html {
    @apply rounded-2xl bg-[#352244];
    background: linear-gradient(
      171deg,
      rgba(53, 34, 68, 1) 0%,
      rgba(17, 0, 30, 1) 100%
    );
    @apply bg-center bg-cover bg-no-repeat bg-fixed;
    overflow-y: visible;
  }
</style>
