---
import Sidebar from "../components/sidebar.astro";
import Topbar from "../components/topbar.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Servers">
<Topbar buttonsOff={true} />
<main class="flex ml-5">
  <Sidebar />
  <div>
    
  </div>
</main>
</Layout>  
