---
import Layout from "../layouts/layout.astro";
import SettingsItem from "../components/settings-item.astro";
---

<Layout
  title="Home | TeaClient"
  buttons={false}
  
  mainclass="flex ml-5 w-full"
>
<div class="h-screen w-full">
  <SettingsItem name="Java Path" image="https://s.namemc.com/i/c056a3f5d1217a32.png">
    <button class="p-2 bg-[#2C1E36] rounded-md">
      <!-- Play Button  -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1.5em"
        height="1.5em"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M21.409 9.353a2.998 2.998 0 0 1 0 5.294L8.597 21.614C6.534 22.737 4 21.277 4 18.968V5.033c0-2.31 2.534-3.769 4.597-2.648z"
        ></path></svg
      >
    </button>
  </SettingsItem>
</div>
</Layout>

<style>
  html {
    @apply rounded-2xl bg-[#352244];
    background: linear-gradient(
      171deg,
      rgba(53, 34, 68, 1) 0%,
      rgba(17, 0, 30, 1) 100%
    );
    @apply bg-center bg-cover bg-no-repeat bg-fixed;
    overflow-y: visible;
  }
</style>
