---
import hljs from 'highlight.js';
import 'highlight.js/styles/default.css';
let { message } = Astro.props
---
<div class="bg-[#00000080] rounded-[10px] w-[100vh] h-[100vh]">
<div class="flex justify-center items-center w-80">
    <pre><code class="language-bash">{hljs.highlightAuto(message).value}</code></pre>
</div>
</div>













