<button id="toggleButton"
    ><div id="button" class="w-[50px] bg-white aspect-square rounded-md">
    </div></button
>
<div
    id="toggleDiv"
    class="flex justify-center z-10 space-x-4 rounded-2xl bg-zinc-700 w-[400px] aspect-square"
>
    
  </div>


  