---
import { Image } from "astro:assets";
---

<div class="absolute overflow-visible h-[20%] top-[128px] right-[128px]">
  <h1 class="hero-title">TeaClient</h1>
  <p class="hero-subtitle">A Minecraft Utility Mod</p>
  <div class="hero-image">
    <Image
      src="/Tea_client_banner.png"
      width="441"
      height="248"
      alt="TeaClient Logo"
      loading="lazy"
      id="logo"
    />
    <h1 class="hero-title">TeaClient</h1>
    <p class="hero-subtitle">A Minecraft Utility Mod</p>
    <div class="hero-image">
      <Image
        src="/Tea_client_banner.png"
        width="441"
        height="248"
        alt="TeaClient Logo"
        loading="lazy"
        id="logo"
      />
      <div class="hero-content"></div>
    </div>
  </div>

  <style>
    h1,
    p {
      color: white;
    }

    img {
      border-radius: 10px;
      border: 1px solid rgba(40, 40, 40, 1);
    }

  </style>
</div>