---
import { Image } from "astro:assets";
import { version } from "../../package.json";
---

<section class="w-32">
  <ul class="menu flex flex-col list-none mt-32">
    <li>
      <a href="/"
        ><Image
          src="/cosmetics.png"
          width="48"
          height="48"
          alt="cosmetic icon"
        /></a
      >
    </li>
    <li>
      <a href="/servers"
        ><Image
          src="/cosmetics.png"
          width="48"
          height="48"
          alt="cosmetic icon"
        /></a
      >
    </li>
    <li>
      <a href="/mods"
        ><Image
          src="/cosmetics.png"
          width="48"
          height="48"
          alt="cosmetic icon"
        /></a
      >
    </li>
    <li>
      <a href="/customize"
        ><Image
          src="/cosmetics.png"
          width="48"
          height="48"
          alt="cosmetic icon"
        /></a
      >
    </li>
    <li>
      <a href="/settings"
        ><Image
          src="/cosmetics.png"
          width="44"
          height="44"
          alt="cosmetic icon"
        /></a
      >
    </li>
  </ul>
  <div class="absolute bottom-6 ml-5 text-zinc-700" id="version">v{version}</div>
</section>

<style>
  .menu > li {
    @apply relative ml-8 mt-10 mx-2;
  }

  .menu > li:last-child {
    @apply absolute bottom-16 mt-auto;
  }

  .menu > li > a:focus {
    @apply bg-[#3d3d3d];
  }

  a:focus::before {
    content: "";
    @apply bg-white;
  }

  li {
    @apply mt-2 list-none inline-block relative;
  }

  a {
    color: var(--navBar-Items);
    @apply no-underline font-bold text-base;

    &:hover {
      color: var(--hover-color);
      @apply no-underline font-bold;
    }
  }
</style>
