---
import { Image } from "astro:assets";
let {buttonsOff} = Astro.props;

export interface Props {
  buttonsOff: boolean,
}
---

    <section data-tauri-drag-region  class="top-nav flex flex-row items-center justify-between h-[90px] ml-5 pt-[64px]">
      <div class="logo-section float-start">
        <a href="/" title="Home page" aria-label="Home page">
          <Image data-tauri-drag-region src="/logo.webp" width="96" height="96" alt="teaclient logo" loading="lazy" id="logo"/>
          <span class="sr-only">Home page</span>
      </a> 
    <a data-tauri-drag-region href="/" id="title">Tea Client</a></div>
            <!-- <a href="/"><img id="logo" src="/logo_white.svg"></a> -->
        </div>
        {!buttonsOff && (
          <ul data-tauri-drag-region class="menu list-none m-0 p-0 float-right">
              <li>
                  <a data-tauri-drag-region href="/socials">Button1</a>
              </li>
          
              <li><a data-tauri-drag-region href="/docs">Button2</a></li>
          </ul>
          )}
  </section>


        
<style>
.top-nav {
  background: var(--nav-color);
  color: #FFF;
}


.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.nav-links {
  flex: 1;
  text-align: right;
}

  li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }

    a {
      color: var(--navBar-Items);
      text-decoration: none;
      font-weight: bold;
      font-size: 1.1rem;

      &:hover {
        color: var(--hover-color);
        text-decoration: none;
        font-weight: bold;
      }
    }

    .logo-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
    }

    .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
</style>