---
import { Image } from "astro:assets";
---

    <section class="top-nav flex flex-row items-center justify-between h-[90px] ml-5 pt-[64px]">
      <div class="logo-section">
        <a href="/" title="Home page" aria-label="Home page">
          <Image src="/logo.webp" width="96" height="96" alt="teaclient logo" loading="lazy" id="logo"/>
          <span class="sr-only">Home page</span>
      </a> 
    <a href="/" id="title">Tea Client</a></div>
            <!-- <a href="/"><img id="logo" src="/logo_white.svg"></a> -->
        </div>
    <ul class="menu flex flex-row list-none m-0 p-0">
                <li>
                    <a href="/socials">Button1</a>
                </li>

                <li><a href="/docs">Button2</a></li>
    </ul>
  </section>


        
<style>
.top-nav {
  background: var(--nav-color);
  color: #FFF;
}


.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}



@media (max-width: 1200px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 90px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
    backdrop-filter: blur(10px);
    background: var(--nav-color); /* color of the dropdown menu background */
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
.nav-links {
  flex: 1;
  text-align: right;
}

  li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }

    a {
      color: var(--navBar-Items);
      text-decoration: none;
      font-weight: bold;
      font-size: 1.1rem;

      &:hover {
        color: var(--hover-color);
        text-decoration: none;
        font-weight: bold;
      }
    }

    .logo-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
    }

    .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
</style>