---
import Launchbar from "../components/launchbar.astro";
import Sidebar from "../components/side.astro";
// import Titlebar from "../components/titlebar.astro";
import Topbar from "../components/top.astro";

export interface Props {
  title: string;
  titlebar: boolean;
  buttons: boolean;
  launchbar?: boolean;
  mainclass: string;
}

const { title, titlebar = false, launchbar = false, buttons = false, mainclass } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script></script>

    <title>{title}</title>
  </head>
  <body data-tauri-drag-region>
  <!-- <Titlebar /> -->
  <Topbar buttonsOff={buttons} />
  <main class={mainclass}>
  <Sidebar />
  <slot />
  { launchbar && <Launchbar/> }
</main>
  </body>

  <style is:global>
    html {
      @apply rounded-2xl overflow-hidden border-none bg-[#352244];
      background: linear-gradient(
        171deg,
        rgba(53, 34, 68, 1) 0%,
        rgba(17, 0, 30, 1) 100%
      );
      @apply bg-center bg-cover bg-no-repeat bg-fixed;
      overflow-y: visible;
    }

    body {
      @apply rounded-2xl overflow-hidden border-none text-white w-screen h-screen;
    }

    .logo {
      height: 6em;
      padding: 1.5em;
      will-change: filter;
      transition: 0.75s;
    }

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      font-weight: 500;
      color: #646cff;
      text-decoration: inherit;
    }

    a:hover {
      color: #535bf2;
    }

    h1 {
      text-align: center;
    }
  </style>
</html>